<div class="panel panel-default panel-intro" style="width: 900px;">
	<h3>打印健康证</h3>
	<div class="panel-body form-horizontal" style="position: relative;">
		<form id="edit-form" role="form" data-toggle="validator" method="POST"
			action="">
			<div class="form-group">
				<label for="c-nickname" class="control-label col-xs-12 col-sm-2">快速检索:</label>
				<div class="form-inline" data-toggle="cxselect"
					data-selects="pid,name">
					<input id="search-a" class="form-control" name="row[search]"
						type="text" value="">
					<button type="submit" class="btn btn-success btn-embossed">查询</button>
				</div>
			</div>
		</form>
		<div class="form-group">
			<label for="c-username" class="control-label col-xs-12 col-sm-2">姓名:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['name']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">身份证号:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['identitycard']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">性别:</label>
			<div class="col-xs-12 col-sm-4">				
				<span id="c-username" class="form-control">{if condition="$body['sex'] eq 0"}男{else/}女{/if}</span>					
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">年龄:</label>
			<div class="col-xs-12 col-sm-4">
				<span class="form-control">{$body['age']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">手机:</label>
			<div class="col-xs-12 col-sm-4">
					
				<span class="form-control">{$body['phone']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业单位:</label>
			<div class="col-xs-12 col-sm-4">
					
				<span class="form-control">{$body['company']}</span>
			</div>
		</div>
		<div class="form-group">
			<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业类别:</label>			
			<div class="col-xs-12 col-sm-4">					
				<span class="form-control">{$body['employee']}</span>
			</div>
		</div>
		<div id="avatar_ad">
			<img width="102" height="126" src="data:image/jpeg;base64,{$body['images']}" border="0">
		</div>
		<div class="wait_physical">
			体检结果：<span></span>
		</div>
		
		<a href="javascript:;" onclick="myPreview()" class="btn btn-default btn-selected btn-disabled"
			style="font-size: 14px; color: white; background: #18bc9c;">
			预览并打印结果 </a>
	</div>

</div>
<script src="/LodopFuncs.js"></script>
<script>
	function myPreview() {		    
		if({$print['physictype'] == 0}){
			CreatePrintPage();
		}else{
			CreatePrintPage1();
		}
		LODOP.PREVIEW();		       
	};		
	function CreatePrintPage() {       
		LODOP=getLodop();         	
		LODOP.PRINT_INITA("0.2292in","0.3646in","7.0104in","4.4688in","打印控件功能演示_Lodop功能_在线编辑获得程序代码");
		LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Shilh\\Desktop\\QQ截图20190702132927.png");
		LODOP.ADD_PRINT_TEXT("2.5in","1.9479in","0.8542in","0.3646in","{$print['name']}");
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT("2.5313in","3.8854in","1.0417in","0.3125in","{$print['sex']}");
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT("2.8854in","1.9375in","1.4583in","0.3646in","{$print['employee']}");  //从业类别
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT("3.2813in","1.9479in","1.7188in","0.3646in","{$print['obtain_employ_number']}"); //健康正号
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT("3.6771in","1.9479in","1.75in","0.3229in","2020年7月3日");//有效期
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_IMAGE(10,10,300,160,"(图像2的超文本路径)");
		LODOP.ADD_PRINT_TEXT("4.0104in","1.9479in","1.4479in","0.3646in","{$print['company']}"); //体检单位
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
	};  
	

	function CreatePrintPage1() {  
		LODOP.PRINT_INITA(0,0,678,426,"打印控件功能演示_Lodop功能_在线编辑获得程序代码");
		LODOP.ADD_PRINT_SETUP_BKIMG("C:\\Users\\Shilh\\Desktop\\QQ截图20190702132946.png");
		LODOP.ADD_PRINT_TEXT(311,371,97,30,"{$print['name']}");  //姓名
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT(278,375,100,30,"{$print['employee']}");//从业类别
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT(310,579,50,30,"{$print['sex']}");//性别
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.SET_PRINT_STYLEA(0,"Angle",4);
		LODOP.ADD_PRINT_TEXT(343,375,157,30,"{$print['sex']}");//有效期
		LODOP.SET_PRINT_STYLEA(0,"FontName","华文楷体");
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
		LODOP.ADD_PRINT_TEXT(389,167,230,29,"{$print['obtain_employ_number']}"); //健康号
		LODOP.SET_PRINT_STYLEA(0,"FontSize",16);
	}

</script>
<style>
h3 {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;
	margin: auto;
	background-color: #eee;
}

.opertor {
	margin: auto;
	font-size: 24px;
	padding: 10px;
}

#avatar_ad {
	border: 1px solid #000;
	width: 150px;
	height: 200px;
	position: absolute;
	top: 27%;
	right: 20%;
}

.wait_physical {
	border-bottom: 1px solid #eee;
	font-size: 18px;
	margin: 10px auto;
}
</style>