<OBJECT classid="clsid:F1317711-6BDE-4658-ABAA-39E31D3704D3" codebase="SDRdCard.cab#version=2,0,1,0" width=0
        height=0 id=idcard name=rdcard>
</OBJECT>
<form id="edit-form" class="form-horizontal" method="POST" action="">

	<div class="form-group">
		<label for="c-gender" class="control-label col-xs-12 col-sm-2">预约类型:</label>
		<div class="col-xs-12 col-sm-8">
			{:build_radios('row[type]',	['0'=>'个人', '1'=>'团体','2'=>'临时登记'])}
		</div>
	</div>
 	<div class="form-group">
		<label for="c-gender" class="control-label col-xs-12 col-sm-2">体检类型:</label>
		<div class="col-xs-12 col-sm-8">{:build_radios('row[physictype]',['0'=>'食药', '1'=>'卫生监督'],null,'physictype')}</div>
	</div>
	<div class="form-group">
		<label for="c-name" class="control-label col-xs-12 col-sm-2">姓名:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-username" class="form-control" name="row[name]"
				type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">身份证号:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="identitycard" class="form-control" name="row[identitycard]"
				type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">性别:</label>
		<div class="col-xs-12 col-sm-4">{:build_radios('row[sex]',
			['0'=>'男', '1'=>'女'],null,"c-sex")}</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">年龄:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-age" class="form-control" name="row[age]"
				type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">手机:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-phone" class="form-control" name="row[phone]"
				type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业类别:</label>
		<div class="form-inline" style="margin-left: 10px;">
			<select class="first form-control" name="row[parent]" id="pid-s" style="margin-left: 15px;">
				{foreach $pid as $index=>$vo}					
					<option value="{$vo.id}" {if condition="$vo.id eq 1"} selected = "selected" {/if}>
						{$vo.name}
					</option> 
				{/foreach}
			</select>
			<!--  <select id="names" class="second form-control" name="row[son]">
			</select> -->
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">从业单位:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-nickname" class="form-control"
				name="row[company]" type="text" value="">
		</div>
	</div>
	<div class="form-group">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">是否选择邮寄:</label>
		<div class="col-xs-12 col-sm-4">
			{:build_radios('row[express]',['0'=>'自取', '1'=>'邮寄'],null,'express')}
		</div>
	</div>	
	<div class="form-group" id="express">
		<label for="c-nickname" class="control-label col-xs-12 col-sm-2">邮寄地址:</label>
		<div class="col-xs-12 col-sm-4">
			<input id="c-nickname" class="form-control"	name="row[address]" type="text" value="">
		</div>
	</div>
	
	<div id="avatar_ad">
		<img width="102" id="img" height="126" src="" border="0">
	</div>
	<input name="row[avatar]" id="avatar" type="hidden" value="">
	</div>
	<div class="form-group layer-footer">
		<label class="control-label col-xs-12 col-sm-2"></label>
		<div class="col-xs-12 col-sm-8">
			<button type="submit" class="btn btn-success btn-embossed">保存登记信息</button>
			<!-- <button type="button" id="print" class="btn btn-default" style="background-color: #2c3e50; color: white;">打印体检单</button> -->
		</div>
	</div>
</form>

<script for=idcard event="Readed()">
	alert("Readed--------");
/* 	document.getElementById("avatar").value = rdcard.JPGBuffer;
	document.getElementById("img").setAttribute("src", data:image/jpeg;base64,"+rdcard.JPGBuffer);
	document.getElementById("identitycard").value = rdcard.CardNo;
	//document.getElementById("c-username").value = rdcard.NameL;
	//document.getElementById("c-sex").value = rdcard. Sex;
	var age = jsGetAge(rdcard.Born);
	document.getElementById("c-age").value = age; */
</script>

<script for=idcard event="Closed()">
        //window.close();
</script>

<script for=idcard event="Opened()">
        //window.close();
</script>
<script language="javascript" src="http://www.card.com/LodopFuncs.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
        var pp1;
        /* pp1 = rdcard.openport();
        setTimeout(st, 3000, true); */
		$("#express").hide();
		
		$("#identitycard").blur(function(){
			$("#identitycard").blur(function () {   
	            //1305231989010203         
	            var card = $("#identitycard").val();
	            var birthday = card.substring(6, 14);
	            var age = jsGetAge(birthday);
	            $("#c-age").val(age);
	        })
		});		
		
		$("#pid-s").change(function() {
			var ids = $("#pid-s option:selected").val();
			if (ids) {
				$.ajax({
					url : "common/getEmployee",
					data : {
						'id' : ids
					},
					type : "get",
					dataType : "json",
					async : true,
					success : function(obj) {
						var html = "";
						for (var i = 0; i < obj.length; i++) {
							html += "<option value="+obj[i]['id']+" >"
									+ obj[i].name
									+ "</option>";
						}
						$("#names").html(html);
					},
					error : function(msg) {
					}
				})
			}
		});
		$("#express-1").click(function(){
			$("#express").show();
		});
		$("#express-1").click(function(){
			$("#express").show();
		});

	});
	//js读取身份证信息		
    function st() {
        pp = rdcard.ReadCard2();
        alert(pp);
    }
	
    function jsGetAge(strBirthday){       
        var returnAge;
        var birthYear = strBirthday.substring(0, 4);
        var birthMonth = strBirthday.substring(4, 6);
        var birthDay = strBirthday.substring(6, 8);
        
        d = new Date();
        var nowYear = d.getFullYear();
        var nowMonth = d.getMonth() + 1;
        var nowDay = d.getDate();
        
        if(nowYear == birthYear){
            returnAge = 0;//同年 则为0岁
        }
        else{
            var ageDiff = nowYear - birthYear ; //年之差
            if(ageDiff > 0){
                if(nowMonth == birthMonth) {
                    var dayDiff = nowDay - birthDay;//日之差
                    if(dayDiff < 0)
                    {
                        returnAge = ageDiff - 1;
                    }
                    else
                    {
                        returnAge = ageDiff ;
                    }
                }
                else
                {
                    var monthDiff = nowMonth - birthMonth;//月之差
                    if(monthDiff < 0)
                    {
                        returnAge = ageDiff - 1;
                    }
                    else
                    {
                        returnAge = ageDiff ;
                    }
                }
            }
            else
            {
                returnAge = -1;//返回-1 表示出生日期输入错误 晚于今天
            }
        }
        
        return returnAge;//返回周岁年龄
        
    }
	
	
</script>
<style>
#avatar_ad {
	border: 1px solid #000;
	width: 150px;
	height: 200px;
	position: absolute;
	top: 27%;
	right: 20%;
}
</style>